body {
    margin: 0;
    padding: 0;
}
* {
    font-family: Arial, sans-serif;
}
a {
    text-decoration: none;
}

header {
    width: 100%;
    background-color: black;
    z-index: 100;
}
.header-items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1vh 2vh;
}
.header-items .logo img {
    width: 3em;
}
.header-items .links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    align-items: center;
}
.header-items .links li {
    list-style: none;
    margin: 0 5%;
}
.header-items .links li a {
    color: lightgray;
    font-size: 1.2em;
    transition: color 0.5s;
    text-transform: capitalize;
    text-align: center;
    display: flex;
}
.header-items .links li a:hover:not(a.active) {
    color: white;
}
header .active {
    font-weight: 700;
    color: white;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20vh 0 0 0;
}
main .showcase-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main .showcase-content .title {
    margin-bottom: 5%;
}
main .showcase-content .title h1, p, h2 {
    text-align: center;
    margin: 0;
    color: white;
}
main .showcase-content .title h1 {
    font-size: 5em;
}
main .showcase-content .title p {
    font-size: 2em;
}
main .showcase-content form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
main .showcase-content form .row {
    width: 100%;
    margin-bottom: 5%;
    display: flex;
    align-items: center;
}
main .showcase-content form .row input {
    width: 90%;
    background-color: gray;
    border: 1px solid #5f6368;
    height: 44px;
    border-radius: 24px;
    font-size: 1em;
    color: white;
    transition: border 0.3s;
    text-indent: 5%;
}
main .showcase-content form .row input:hover {
    border: 1px solid white;
}
main .showcase-content form .row input:focus::placeholder {
    color: black;
}
main .showcase-content form .row button {
    width: 8%;
    display: flex;
    height: 44px;
    margin-left: 2%;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: transparent;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 40px;
}
main .showcase-content form .row button:hover {
    background-color: dimgray;
}
main .showcase-content form .row i {
    font-size: 1.5em;
    color: white;
}
main .showcase-content form .buttons {
    display: flex;
    justify-content: center;
    flex: 2;
}
main .showcase-content form .buttons input {
    background-color: dimgray;
    border: 1px solid dimgrey;
    border-radius: 24px;
    padding: 0 2em;
    height: 44px;
    cursor: pointer;
    color: white;
    margin: 0 5% 5% 5%;
    font-size: 0.9em;
    transition: all 0.3s;
}
main .showcase-content form .buttons input:hover {
    background-color: gray;
}
main .showcase-content form .row p {
    margin-right: 3%;
    text-align: right;
}
main .showcase-content form .row.with-text {
    justify-content: flex-end;
}
main .showcase-content form .row.with-text input {
    max-width: 300px;
}
main .showcase-content .subtitle {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 5%;
    font-size: 1.5em;
}

@media screen and (max-width: 768px) {
    main {
        padding: 10vh 0 0 0;
    }
    header .header-items {
        flex-direction: column;
        padding: 3vh 2vh;
    }
    main .showcase-content .title h1 {
        font-size: 4em;
    }
    main .showcase-content .title p {
        font-size: 1.6em;
    }
    main .showcase-content .subtitle {
        justify-content: center;
    }
    main .showcase-content form .row input, main .wrapper form .row p {
        font-size: 0.8em;
        display: flex;
    }
    main .showcase-content form .row {
        flex-direction: column;
    }
    main .showcase-content form .row p {
        margin: 0 0 5% 0;
    }
    main .showcase-content form .row button {
        display: none;
    }
}
@media screen and (max-width: 480px) {
    main {
        padding: 5vh 0 0 0;
    }
    header .header-items {
        flex-direction: column;
    }
    header .links {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    main .showcase-content .title h1 {
        font-size: 2em;
    }
    main .showcase-content .title p {
        font-size: 1em;
    }
    main .showcase-content form .buttons input, main .showcase-content form .row p {
        font-size: 0.8em;
    }
}