.box{
    float: none;
    width: 100%;
}
#about-info .info-right,
#about-info .info.left{
    float: none;
    width: 100%;
}

.l-heading{
    text-align: center;
}

#about-info .info-right{
    margin-top: 30px;
}

#showcase .showcase-content{
    padding-top: 70px;
    padding-bottom: 30px;
}

#testimonials{
    height: 100%;
}

#contact-info .box{
    float: none;
    width: 100%;
    border-bottom: #333333 dotted 3px;
}

#showcase .showcase-content h1 {
    line-height: 70px;
}

